<div class="container">
<h1>Animais Disponiveis</h1>

<br/>
<br/>
<div class="table-responsive">
<table class="table">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Idade</th>
      <th>Descricao</th>
      <th>Tipo</th>
      <th>Contato</th>
      <th>Foto</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @animals.each do |animal| %>
      <tr>
        <td><%= animal.name %></td>
        <td><%= animal.age %></td>
        <td><%= animal.description %></td>
        <td><%= animal.family.upcase %></td>
        <td><%= animal.contact %></td>
        <td><%= image_tag(animal.image.url(:thumb)) %></td>
        <td><%= link_to 'Exibir', show_path(animal.id), class:"btn btn-info btn-xs" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>



