<p>
  <strong>Nome:</strong>
  <%= @animal.name %>
</p>

<p>
  <strong>Idade:</strong>
  <%= @animal.age %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @animal.description %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @animal.family %>
</p>

<p>
  <strong>Contato:</strong>
  <%= @animal.contact %>
</p>

<p>
  <strong>Foto:</strong>
  <%= link_to image_tag(@animal.image.url(:medium), class: 'media-object'), target: '_blank' %>
</p>

<%= link_to 'Voltar', root_path, class:"btn btn-info" %>