<div class="container">
<div class="container">
<h1>Animais Disponiveis</h1>

<%= button_to "Novo", new_animal_path, :class => "btn btn-success", :method => :get  %>

<br/>
<br/>
<div class="table-responsive">
<table class="table">
  <thead>
    <tr>
      <th>Tipo</th>
      <th>Idade</th>
      <th>Descricao</th>     
      <th colspan="6"></th>
    </tr>
  </thead>

  <tbody>
    <% @animals.each do |animal| %>
      <tr>
        <td><%= animal.family.upcase %></td>
        <td><%= animal.name %></td>
        <td><%= animal.age %></td>
        <td><%= animal.description %></td>        
        <td><%= image_tag(animal.image.url(:thumb)) %></td>
        <td><%= link_to 'Detalhe', animal, class:"btn btn-info btn-xs" %></td>
        <td><%= link_to 'Editar', edit_animal_path(animal), class:"btn btn-primary btn-xs"%></td>
        <td><%= link_to 'Excluir', animal, class:"btn btn-danger btn-xs", method: :delete, data: { confirm: 'Confirma?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Logout', destroy_user_session_path, class:"btn btn-danger btn-xs", method: :delete %>

</div>
</div>



