<p>
  <strong>Nome:</strong>
  <%= @animal.name %>
</p>

<p>
  <strong>Idade:</strong>
  <%= @animal.age.to_s+ ' ' +@animal.ageunit.to_s.pluralize(@animal.age)%>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @animal.description %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @animal.family %>
</p>

<p>
  <strong>Contato:</strong>
  <%= @animal.contact %>
</p>

<p>
  <strong>Foto:</strong>
  <%= link_to image_tag(@animal.image.url(:medium), class: 'custom_thumbnail'), target: '_blank' %>
</p>

<p>
  <strong>Adotado?</strong>
  <%= @animal.isAdopted? %>
</p>


<%= link_to 'Editar', edit_animal_path(@animal), class:"btn btn-primary" %>
<%= link_to 'Voltar', animals_path, class:"btn btn-info" %>
